{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Benvenuto, {{ inserviente.username }}!</h1>

    <div class="container is-fluid">
        <div class="box">
            <h2 class="subtitle">Informazioni</h2>
            <p><strong>UUID:</strong>{{ inserviente.uuid }}</p>
            <p><strong>Piano:</strong>{{ inserviente.piano }}</p>
        </div>
    </div>

    <div class="container is-fluid mt-4">
        <h1 class="title"> Your Bins: </h1>
        {% for bin in bin_list %}
            <div class="card custom-bin-card shadow" data-id="{{ bin.id }}">
                <header class="card-header">
                    <p class="card-header-title">Bin number: {{ bin.id }}</p>
                    <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        <h3 class="subtitle"> Fulness:</h3>
                        <strong class="percent-label">{{ bin.weight | int }}%</strong>
                        <progress class="progress" value="0" max="100" data-id="{{ bin.id }}"></progress>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#"
                       class="card-footer-item show-modal"
                       data-id="{{ bin.id }}"
                       data-weight="{{ bin.weight }}"
                       data-floor="{{ bin.floor }}"
                       data-distance="{{ bin.distance }}"
                       data-isfull="{{ bin.is_full }}"
                    >Info</a>
                </footer>
            </div>
        {% endfor %}
        
    </div>


    <div class="modal" id="infoModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Bin Info</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <p><strong>ID:</strong> <span id="modal-bin-id"></span></p>
                <p><strong>Weight</strong> <span id="modal-bin-weight"></span>kg</p>
                <p><strong>Floor:</strong> <span id="modal-bin-floor"></span></p>
                <p><strong>Distance:</strong> <span id="modal-bin-distance"></span>cm</p>
                <p><strong>IsFull:</strong> <span id="modal-bin-is_full"></span></p>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">OK</button>
            </footer>
        </div>
    </div>

    <div class="container is-fluid mt-6">
      <div class="columns is-centered">
          <button class="button is-large is-success is-light" id="refresher">
           Refresh
          </button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/refreshBins.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            const modal = document.getElementById('infoModal');
            const closeButtons = modal.querySelectorAll('.delete, .modal-background, .modal-card-foot button');
            const refresher = document.getElementById('refresher');
            refresher.addEventListener('click', () => {
                refreshBins(); 
            });

            document.querySelectorAll('.show-modal').forEach(button => {
                button.addEventListener('click', () => {
                    document.getElementById('modal-bin-id').textContent = button.dataset.id;
                    document.getElementById('modal-bin-weight').textContent = button.dataset.weight;
                    document.getElementById('modal-bin-floor').textContent = button.dataset.floor;
                    document.getElementById('modal-bin-distance').textContent = button.dataset.distance;
                    document.getElementById('modal-bin-is_full').textContent = button.dataset.isfull;
                    modal.classList.add('is-active');
                });
            });

            closeButtons.forEach(btn => {
                btn.addEventListener('click', () => {
                    modal.classList.remove('is-active');
                });
            });
        });

        refreshBins();
    </script>
{% endblock %}


<style>
    progress {
      transition: all 0.6s ease-in-out;
    }
</style>