{% extends 'base.html' %}

{% block content %}
    <div class="box">
        <h1 class="title">Primo Accesso</h1>
        <form method="post">
            <div class="field">
                <label class="label">Inserisci il tuo UUID</label>
                <div class="control">
                    <input class="input" type="text" name="uuid" required>
                </div>
            </div>
            <button class="button is-primary">Verifica UUID</button>
        </form>
    </div>
{% endblock %}