{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Login</h1>
    <form method="post">
        <div class="field">
            <label class="label">Inserisci il tuo username</label>
            <div class="control">
                <input class="input" type="text" name="username" required>
            </div>
            <label class="label mt-4">Inserisci la tua password</label>
            <div class="control">
                <input class="input" type="text" name="password" required>
            </div>
        </div>
        <button class="button is-primary">Verifica UUID</button>
    </form>
{% endblock %}