{% extends 'base.html' %}

{% block content %}
    <div class="box">
        <h1 class="title">Login</h1>
        <form method="post" action="{{ url_for('login') }}">
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" type="text" name="username" placeholder="Inserisci il tuo username" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" name="password" placeholder="Inserisci la tua password" required>
                </div>
            </div>

            <div class="control">
                <button class="button is-primary" type="submit">Accedi</button>
            </div>
        </form>
    </div>
{% endblock %}