{% extends 'base.html' %}

{% block content %}
    <div class="box">
        <h1 class="title">Signup</h1>
        <form method="post" action="{{ url_for('signup', uuid=uuid) }}">
            <input type="hidden" name="uuid" value="{{ uuid }}">

            <div class="field">
                <label class="label">Nome</label>
                <div class="control">
                    <input class="input" type="text" name="name" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Cognome</label>
                <div class="control">
                    <input class="input" type="text" name="surname" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" type="text" name="username" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" name="password" required>
                </div>
            </div>

            <button class="button is-primary">Registrati</button>
        </form>
    </div>
{% endblock %}